
/*
  These are the styles to create an interface of a chat/bot
*/

.botui-app-container {
  width: 100%; // mobile-first
  height: 100%;
  line-height: 1;

  @media (min-width: 400px) {
    width: 400px;
    height: 500px;
    margin: 0 auto;
  }
}

.botui-message {
  margin: 10px 0;
  min-height: 20px;
  
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}


.botui-actions-text-submit {
  @media (min-width: 400px) {
    display: none;
  }
}
